.idea
.php_cs
.php_cs.cache
.phpunit.result.cache
build
composer.lock
coverage
psalm.xml
testbench.yaml
vendor
node_modules
.php-cs-fixer.cache
.DS_Store
_ide_helper.php
.parcel-cache
.vscode

#one time extract
go.mod
go.sum
main.go