---
import "../global.css"
import App from '../components/App.jsx';
import TopNav from '../elements/TopNav.jsx';
import Questions from '../components/Questions.js';
---


<!DOCTYPE html>
<html lang="en" class="antialiased" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Japan Drivers License Test</title>
	</head>
	<body >
        <script src="https://www.googletagmanager.com/gtag/js?id=UA-40862413-1" strategy="afterInteractive"/>
        <script id="google-analytics" strategy="afterInteractive">
            window.dataLayer = window.dataLayer || [];
            function gtag(){window.dataLayer.push(arguments);}
            gtag('js', new Date());
    
            gtag('config', 'UA-40862413-1');
        </script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3871023054742376"
        crossorigin="anonymous"></script>        
        <div id="questions" data-questions={JSON.stringify(Questions)}></div>
        <TopNav />
		<App client:load />
	</body>
</html>


